fastapi
uvicorn[standard]
sqlalchemy
alembic
asyncpg
psycopg2-binary
pydantic-settings
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
python-multipart
httpx
email-validator
pymupdf
python-docx
groq
pytest
pytest-asyncio